@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@200&family=Roboto+Condensed:ital,wght@1,300&display=swap');

:root{
   --main-bg-color:#2874f0;
}
*{
    margin: 0;
    padding: 0;
}
header{
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar{
    background-color: var(--main-bg-color);
    display: flex;
 
}

nav ul{
    height:9vh;
    display: flex;
    align-items:center ;
}
nav ul li{
    list-style: none;
    padding: 0 21px;

}
nav ul li a{
    color: white;
    text-decoration: none;
}
nav ul li a:hover{
    font-weight: bolder;
     /* color: rgb(36, 45, 129);  */
}
nav{
    display: flex;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 90px;
    padding: 0 20px;
}
.search{
  display: flex;
  align-items:center ;
}
.search input{
    width: 30vw;
    height: 26px;
    border-radius:3px ;
    margin: 0 10px 0 50px;
    padding: 0 12px;
    border: none;
    outline: none;
}
.search button{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 2px;
}
.contanier{
    min-height:calc(100vh - 9vh - 6vh);
}

.slider {
    /* width: 1000vw    ; */
    margin:12px auto;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
.card{
    margin: 10px 40px;
    padding: 20px 0;
}
.cards{
    display: flex;
    justify-content: center;
    overflow: scroll;
}
.card-item{
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    margin: 9px 12px;
    
}
.card-item:hover{
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
.font{
    font-family: 'Bitter', serif;
font-family: 'Roboto Condensed', sans-serif;
}
h2{
    margin-bottom: 10px;
}

footer{
    height: 6vh;
    background-color: black;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
}
